version: "3.9"

services:
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  api:
    build: ./analytics_api
    depends_on:
      - mongo
      - redis
    environment:
      MONGO_URL: "mongodb://mongo:27017"
      REDIS_HOST: "redis"
    ports:
      - "8000:8000"

  consumer:
    build: ./consumer
    depends_on:
      - mongo
      - redis
    environment:
      MONGO_URL: "mongodb://mongo:27017"
      REDIS_HOST: "redis"

volumes:
  mongo_data:
